<%-include('header') -%>

	<section class="hero-wrap js-fullheight" id="home">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">
				<div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-center">
					<div class="text text-center">
						<span class="subheading">Hey! I am</span>
						<h1>Nishkarsh Dubb</h1>
						<h2>I'm a
							<span class="txt-rotate" data-period="2000"
								data-rotate='[ "Web Developer.", "Designer.", "Blogger.", "Student."]'></span>
						</h2>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="mouse">
			<a href="#" class="mouse-icon">
				<div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
			</a>
		</div>
	</section>

	<section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
		<div class="container">
			<div class="row d-flex no-gutters">
				<div class="col-md-6 col-lg-6 d-flex">
					<div class="img-about img d-flex align-items-stretch">
						<div class="overlay"></div>
						<div class="img d-flex align-self-stretch align-items-center"
							style="background-image:url(images/profile2.jpeg);">
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 pl-md-5 py-5">
					<div class="row justify-content-start pb-3">
						<div class="col-md-12 heading-section ftco-animate">
							<h1 class="big">About</h1>
							<h2 class="mb-4">About Me</h2>
							<p>I'm a Full Stack Web developer / designer based in Kullu, H.P., India. I have a passion
								for web development and I make elegantly professional web apps for a living.</p>
							<ul class="about-info mt-4 px-md-0 px-2">
								<li class="d-flex"><span>Name:</span> <span>Nishkarsh Dubb</span></li>
								<li class="d-flex"><span>Date of birth:</span> <span>April 15, 2001</span></li>
								<li class="d-flex"><span>Address:</span> <span>Bhuntar, Kullu, India</span></li>
								<li class="d-flex"><span>Zip code:</span> <span>175101</span></li>
								<li class="d-flex"><span>Email:</span> <span>nishdubb11@gmail.com</span></li>
								<li class="d-flex"><span>Phone: </span> <span>+91-7018883490</span></li>
							</ul>
						</div>
					</div>
					<div class="counter-wrap ftco-animate d-flex mt-md-3">
						<div class="text">
							<p class="mb-4">
								<span class="number" data-number="250">500</span>
								<span>+ Cups of Coffee</span>
							</p>
							<p><a href="https://docs.google.com/document/d/1CTiUvPGUMO92scMNu0UfiXHL4Lgp3awiv_MdImJjOv4/edit?usp=sharing" class="btn btn-primary py-3 px-3">Download CV</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- <section class="ftco-section ftco-partner">
		<div class="container">
			<div class="row">
				<div class="col-sm ftco-animate">
					<a href="#" class="partner"><img src="images/partner-1.png" class="img-fluid"
							alt="Colorlib Template"></a>
				</div>
				<div class="col-sm ftco-animate">
					<a href="#" class="partner"><img src="images/partner-2.png" class="img-fluid"
							alt="Colorlib Template"></a>
				</div>
				<div class="col-sm ftco-animate">
					<a href="#" class="partner"><img src="images/partner-3.png" class="img-fluid"
							alt="Colorlib Template"></a>
				</div>
				<div class="col-sm ftco-animate">
					<a href="#" class="partner"><img src="images/partner-4.png" class="img-fluid"
							alt="Colorlib Template"></a>
				</div>
				<div class="col-sm ftco-animate">
					<a href="#" class="partner"><img src="images/partner-5.png" class="img-fluid"
							alt="Colorlib Template"></a>
				</div>
			</div>
		</div>
	</section> -->

	<section class="ftco-section ftco-no-pb goto-here" id="resume-section">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<nav id="navi">
						<ul>
							<li><a href="#page-1">Education</a></li>
							<li><a href="#page-2">Experience</a></li>
							<li><a href="#page-3">Skills</a></li>
					</ul>
					</nav>
				</div>
				<div class="col-md-9">
					<div id="page-1" class="page one">
						<h2 class="heading">Education</h2>
						<div class="resume-wrap d-flex ftco-animate">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-ideas"></span>
							</div>
							<div class="text pl-3">
								<span class="date">2019-2020</span>
								<h2>Full-Stack Web Development Diploma</h2>
								<span class="position">NICS Bhuntar, Kullu</span>
								<p>Throughout this comprehensive course of Full-Stack Web Development at NICS, we covered a massive amount of tools and technologies used at large companies such as Apple, Google and Netflix.<br>At NICS, I was given everything possible to succeed from the onset.By the end of this course, I was able to fluently program and was ready to make any kind website I could possibly dream of.</p>
							</div>
						</div>
						<div class="resume-wrap d-flex ftco-animate">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-ideas"></span>
							</div>
							<div class="text pl-3">
								<span class="date">2017-2019</span>
								<h2>Senior Secondary Education</h2>
								<span class="position">D.A.V. School Kullu</span>
								<p>Two years of learning at D.A.V. Kullu equipped me with all kinds of weapons needed to win in these turbulent times filled with immense amount of pressure and uncertainity.It taught me that the most dangerous place a person could be in is his/her safety zone.<br>Therefore, I like to expand my limits and I believe that the secret to genius is not genetics but daily practice married with relentless perseverance.</p>
							</div>
						</div>
						<div class="resume-wrap d-flex ftco-animate">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-ideas"></span>
							</div>
							<div class="text pl-3">
								<span class="date">2005-2017</span>
								<h2>High School</h2>
								<span class="position">O.L.S. Kullu, A Don Bosco Institution</span>
								<p>O.L.S. offered me the best possible opportunities for growth and moulded me into a confident, thoughtful and sensitive young person, who is prepared for any kind of future challenges.Wherever I go my Alma Mater's motto stays with me 'To Love and To Serve'.Therefore I believe the quickest way to grow the sales of your business is to grow your people.</p>
							</div>
						</div>

					</div>

					<div id="page-2" class="page two">
						<h2 class="heading">Experience</h2>

						<div class="resume-wrap d-flex ftco-animate">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-ideas"></span>
							</div>
							<div class="text pl-3">
								<span class="date">2019-2020</span>
								<h2>Worked as a freelance Developer</h2>
								<span class="position">Various Local Companies and Individuals</span>
								<p>I have been working as a freelance developer for a long time now. I have worked with Newbie Bloggers to Industrial Giants like Worth Medicines. I have the caliber to develop websites/web-apps for any kind of Start-Up/Business.<br>My experience has taught me to:</p>
								<p>
									<ul>
										<li>Fulfill the Client's Dreams</li>
										<li>Remove the Client's Frustration</li>
										<li>Refuel the Client’s Joy</li>
										<li>Pursue Mastery and Work at Mastery of My Craft.</li>
									</ul>
								</p>
							</div>
						</div>




					</div>
					<div id="page-3" class="page three">
						<h2 class="heading">Skills</h2>
				
						
						
						<div class="resume-wrap d-flex ftco-animate">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-ideas"></span>
							</div>
							<div class="text pl-3">
								<span class="date"></span>
								<h2>A variety of hard and soft skills</h2>
								
								<p>In these Turbulent Times filled with competitive pressure and uncertainity, building an online business is more vital than ever. So, Where do you even start? What kind of website could be best for your business? <br>Worry no more because I have the absolute right skill-set that can make your business reach heights and achieve profits like never before.</p>
								<ul>
									
									<li>Top-notch programming skills and in-depth knowledge of modern HTML/CSS.</li>
									<li>Profound Knowledge the latest frameworks and technologies, including Javascript ES6, Bootstrap 4, MongoDB.
									<li>World-Class Frontend development with React.</li>
									<li>Mastered backend development with Node and Express.</li>
									<li>Can build fully-fledged websites and web apps for any startup or business.</li>
								</ul></p>
							</div>
						</div>
						

							

							
							

							
						

					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section" id="services-section">
		<div class="container-fluid px-md-5">
			<div class="row justify-content-center py-5 mt-5">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<h1 class="big big-2">Services</h1>
					<h2 class="mb-4">Services</h2>
					<p>Client-focused, customer-centric, creating website solutions that deliver tangible business
						results, helping brands amidst the ever-changing digital landscape.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="#" class="services-1 shadow">
						<span class="icon">
							<i class="flaticon-ux-design"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5">Small Business Websites</h3>
							 <p>My Small Business Website Development Services are tailored to help your business get established online and connect with potential customers.</p> 
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="#" class="services-1 shadow">
						<span class="icon">
							<i class="flaticon-flasks"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5">Corporate Websites</h3>
							 <p>My Corporate Website Services focus on delivering complex and detailed websites with an easy flowing, friendly UI,UX and a smooth Back-End, developed with MERN Stack.</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="#" class="services-1 shadow">
						<span class="icon">
							<i class="flaticon-ideas"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5">Blog Websites</h3>
							<p> Blogging is not just for businesses! You can benefit personally, professionally, and financially from blogging. So, what are you waiting for? Let's develop an awesome blog.</p>
						</div>
					</a>
				</div>

				<div class="col-md-6 text-center d-flex ftco-animate">
					<a href="#" class="services-1 shadow">
						<span class="icon">
							<i class="flaticon-innovation"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5">Web Applications</h3>
							<p>Another area of my skill and expertise, that needs a special mention is the development of custom web applications. I have worked on a number of web applications that are feature rich, look good and perform exceedingly well. Through consistent communication and attention to every detail of development, I ensure delivery of an application that meets every requirement of your business.</p>
						</div>
					</a>
				</div>
				<div class="col-md-6 text-center d-flex ftco-animate">
					<a href="#" class="services-1 shadow">
						<span class="icon">
							<i class="flaticon-analysis"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5">Consultation and Debugging</h3>
							<p>If you only interested in hiring me for a consultation session or maybe even debug your code, please do not hesitate and contact me. Website development is all about reliable and properly done code, layout, design, UI, UX, and functionality. All done the best, and it is gauranteed that your business will reach heights like never before. </p>
						</div>
					</a>
				</div>

			</div>
		</div>
	</section>


	<section class="ftco-section ftco-project" id="projects-section">
		<div class="container-fluid px-md-0">
			<div class="row no-gutters justify-content-center pb-5">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<h1 class="big big-2">Projects</h1>
					<h2 class="mb-4">My Projects</h2>
					<p>Here's a selection of some recent work. For more up to the minute work you can visit me on <a href="https://github.com/Nishkarsh01">Github</a></p>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-md-4">
					<div class="project img ftco-animate d-flex justify-content-center align-items-center"
						style="background-image: url(images/ex4.png);">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							
							<span>A Website</span>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="project img ftco-animate d-flex justify-content-center align-items-center"
						style="background-image: url(images/ex9.png);">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							
							<span>A Website</span>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="project img ftco-animate d-flex justify-content-center align-items-center"
						style="background-image: url(images/ex6.png);">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							
							<span>A Website</span>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="project img ftco-animate d-flex justify-content-center align-items-center"
						style="background-image: url(images/ex7.png);">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							
							<span>A Website</span>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="project img ftco-animate d-flex justify-content-center align-items-center"
						style="background-image: url(images/ex1.png);">
						<div class="overlay"></div>
						<div class="text text-center p-4">
						
							<span>A Web App</span>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="project img ftco-animate d-flex justify-content-center align-items-center"
						style="background-image: url(images/ex8.png);">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							
							<span>A Web App</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter">
		<div class="container-fluid px-md-5">
			<div class="row d-md-flex align-items-center">
				<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18 shadow">
						<div class="text">
							<strong class="number" data-number="10000">0</strong>
							<span>Hours</span>
						</div>
					</div>
				</div>
				
			
				<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18 shadow">
						<div class="text">
							<strong class="number" data-number="250">0</strong>
							<span>Cups of coffee</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-section" id="blog-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-5">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h1 class="big big-2">Blog</h1>
					<h2 class="mb-4">My Blog</h2>
					<p>In my mind, as long as you learn something new each day, stretch your personal frontiers and
						improve the way you think, you cannot grow old.</p>
				</div>
			</div>
			<div class="row d-flex">
				<div class="col-md-4 d-flex ftco-animate">
					<div class="blog-entry justify-content-end">
						<a href="/blog" class="block-20" style="background-image: url('images/image_1.jpg');">
						</a>
						<div class="text mt-3 float-right d-block">
							<h3 class="heading"><a href="/blog">I write on Tech</a></h3>
							<div class="d-flex align-items-center mb-3 meta">
								<p class="mb-0">

									<a href="#" class="mr-2">Admin</a>

								</p>
							</div>
							<p>It is always a good time to zoom out the lens, and get reflective on what has happened already, and predictive about technology that can expected in the next 5-10 years. So, What are you waiting for? Let's discuss some tech.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex ftco-animate">
					<div class="blog-entry justify-content-end">
						<a href="/blog" class="block-20" style="background-image: url('images/business.jpg');">
						</a>
						<div class="text mt-3 float-right d-block">
							<h3 class="heading"><a href="/blog">My views on business</a></h3>
							<div class="d-flex align-items-center mb-3 meta">
								<p class="mb-0">
									<a href="#" class="mr-2">Admin and Guests</a>

								</p>
							</div>
							<p>Through this Blog what I really want to dial into is, how do the best of the best in business achieve their staggeringly noticeable results? Me and my guests are going to dive into a number of topics like, which is the best of the best in business whether it’s an Elon Musk, whether it’s a Steve Jobs, whether it’s those great celebrity CEOs, or massively successful entrepreneurs.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex ftco-animate">
					<div class="blog-entry">
						<a href="/blog" class="block-20" style="background-image: url('images/food.jpeg');">
						</a>
						<div class="text mt-3 float-right d-block">
							<h3 class="heading"><a href="/blog">Food, Music, Politics and more...</a></h3>
							<div class="d-flex align-items-center mb-3 meta">
								<p class="mb-0">

									<a href="#" class="mr-2">Admin and Guests</a>

								</p>
							</div>
							<p>Let's Talk Food, Music and Politics. Food and Music has always been important to me and talking politics with my friends and family over dinner a tradition.<br>So, What are you waiting for? Join me on the amazing journey! as I discuss these topics with my guests.   </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-hireme img" style="background-image: url(images/bg_1.jpg)">
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 ftco-animate text-center">
					<h2>I'm <span>Available</span> for freelancing</h2>
					<p>Looking for an experienced developer to take your Web Dev project off the ground? I might be the
						right person for you.

						I have the necessary skill set to develop any complex web App.</p>
					<p class="mb-0"><a href="/#contact-section" class="btn btn-primary py-3 px-5">Hire me</a></p>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h1 class="big big-2">Contact</h1>
					<h2 class="mb-4">Contact Me</h2>
					<p>Want to discuss a project, an idea, an opportunity? Call Me/Text Me, Write me an email or just
						fill up the form below. </p>
				</div>
			</div>

			<div class="row d-flex contact-info mb-5">
				<div class="col-md-6 col-lg-4 d-flex ftco-animate">
					<div class="align-self-stretch box text-center p-4 shadow">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="icon-map-signs"></span>
						</div>
						<div>
							<h3 class="mb-4">Address</h3>
							<p>HNO 216, WNO 3,Bhuntar, Kullu, India</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 d-flex ftco-animate">
					<div class="align-self-stretch box text-center p-4 shadow">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="icon-phone2"></span>
						</div>
						<div>
							<h3 class="mb-4">Contact Number</h3>
							<p><a href="tel://1234567920">+91-7018883490</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-4 d-flex ftco-animate">
					<div class="align-self-stretch box text-center p-4 shadow">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="icon-paper-plane"></span>
						</div>
						<div>
							<h3 class="mb-4">Email Address</h3>
							<p><a href="mailto:info@yoursite.com">nishdubb11@gmail.com</a></p>
						</div>
					</div>
				</div>

			</div>

			<div class="row no-gutters block-9">
				<div class="col-md-6 order-md-last d-flex">
					<form action="/" method="post" class="bg-light p-4 p-md-5 contact-form">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Your Name" name="cname">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Your Email" name="cemail">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Subject" name="csubject">
						</div>
						<div class="form-group" >
							<textarea name="cmessage" id="" cols="30" rows="7" class="form-control"
								placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
						</div>
					</form>

				</div>

				<div class="col-md-6 d-flex">
					<div class="img" style="background-image: url(images/profile2.jpeg);"></div>
				</div>
			</div>
		</div>
	</section>

	<%-include('footer') -%>